.header
  .header__left
    .header__left--name
      name
    .header__left--icon
  .header__right
    .header__right--group_name
      group
    .header__right--member
      member:
    .header__right--btn
      edit



