.header
  .header__top
  .header__left
    .header__left--name
      name
    .header__left--icon
  .header__right
    .header__right--group_name
      group
    .header__right--member
      member:
    .header__right--btn
      edit

.contents
  .contents__left
    .contents__left__group
      .contents__left__group--group_name
        group
      .contents__left__group--comment
        comment
  .contents__right
    .contents__right__comment
      .contents__right__comment--name
        name
      .contents__right__comment--date
        date
      .contents__right__comment--comment
        comment
    .contents__right__bottom
      .contents__right__bottom__form
        .contents__right__bottom__form--message
          message
        .contents__right__bottom__form--icon
      .contents__right__bottom__btn
