.header

.contents
  .contents__sidebar
    .contents__sidebar__top
      .contents__sidebar__top--user_name
        user_name
      .contents__sidebar__top--icon
    .contents__sidebar__bottom
      .contents__sidebar__bottom__group
        .contents__sidebar__bottom__group--group_name
          group_name
        .contents__sidebar__bottom__group--comment
          comment
  .contents__main
    .contents__main__top
    .contents__main__log
    .contents__main__bottom