.header

.contents
  .contents__sidebar
    .contents__sidebar__top
      .contents__sidebar__top--user_name
        user_name
      .contents__sidebar__top--icon
    .contents__sidebar__bottom
      .contents__sidebar__bottom__group
        .contents__sidebar__bottom__group--group_name
          group_name
        .contents__sidebar__bottom__group--comment
          comment
  .contents__main
    .contents__main__top
      .contents__main__top--group_name
        group_name
      .contents__main__top--btn
        edit
      .contents__main__top--member
        member
    .contents__main__log
      .contents__main__log--user_name
        user_name
      .contents__main__log--comment
        comment
      .contents__main__log--time
        time
    .contents__main__bottom
      .contents__main__bottom--form
        form
      .contents__main__bottom--icon
      .contents__main__bottom--btn
        Send