.contents {
  display: flex;
  width:100%;
  &__sidebar {
    color: $pure_white;
    width: 300px;
    font-weight: bold;
    &__top {
      height: 100px;
      background-color: #253141;
      &--user_name {
        font-size: 16px;
        padding-left: 20px;
        float: left;
        line-height: 100px;
      }
      &--icon {
        line-height: 100px;
        padding-right: 20px;
        float: right;
      }
    }
    &__bottom {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      &__group {
        padding: 20px;
        &--group_name{
          font-size: 15px;
          padding-bottom: 5px;
        }
        &--comment{
          font-size: 11px;
        }
      }
    }
  }
  &__main {
    width: calc(100vw - 300px);
    &__top {
      border-bottom: 1px solid;
      border-color: #eeeeee;
      height: 100px;
      &--group_name {
        padding: 35px 40px 0;
        float: left;
        padding-top: 35px;
        font-size: 20px;
        color: #333333;
      }
      &--btn {
        float: right;
        color: $blue;
        border: 1px solid;
        height: 40px;
        padding: 0 20px;
        line-height: 40px;
        margin: 28px 40px 0;
      }
      &--member {
        padding: 0 40px;
        clear: both;
        font-size: 12px;
        color: $system_message;
        padding-top: 15px;
      }
    }
    &__logs {
      background-color: #fafafa;
      padding: 6px 40px 0;
      height: calc(100vh - 100px - 100px);
      overflow: scroll;
      .contents__main__log {
        &--user_name {
          font-size: 16px;
          font-weight: bold;
          color: $log;
          padding-top: 40px;
          padding-right: 10px;
          float:left
        }
        &--time {
          font-size: 12px;
          color: $system_message;
          padding-top: 40px;
        }
        &--comment {
          clear: both;
          padding-top: 10px;
          font-size: 14px;
          color: $log;
        }
      }
    }
    &__bottom {
      display: block;
      height: 93px;
      background-color: #ddd;
      width: calc(100vw - 300px);
      &--form {
        padding-left: 40px;
        padding-top: 20px;
        position: relative;
        .form__message {
          width: calc(100% - 165px);
          height: 50px;
          padding-left: 10px;
        }
        &--icon {
          position: absolute;
          top: 30px;
          right: 165px;
          .upload-icon {
            font-size: 1.3rem;
            .hidden {
              display:none;
            }
          }
        }
      }
      .form__submit {
        float: right;
        width: 100px;
        margin-right: 40px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: $blue;
        color: $pure_white;
      }
    }
  }
}